<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Loggin">
        <classes>
            <class name="ru.my.pack.mantis.tests.HbConnectionTests"/>
            <class name="ru.my.pack.mantis.tests.RegistrationTest"/>
            <class name="ru.my.pack.mantis.tests.LogginTests"/>
            <class name="ru.my.pack.mantis.tests.ChangePasswordTests"/>
            <class name="ru.my.pack.mantis.tests.SoapTests"/>
        </classes>
    </test>
</suite>